a {
    text-decoration: none;
}

body {
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

nav > ul > li{
    display: inline-block;
    margin: auto;
}
nav > ul > li.logo {
    font-size: 2em;    
}

#wrapper {
    margin: 20px;
    
}
